
.search-side {
    height: 100%;
    border-style: solid;
    border-color: rgb(61, 58, 58);
    border-width: 1px;
}

.search-city {
    width: 100%;
}

.search-button {
    color: white;
    background-color: lightskyblue;
}

.current-weather {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: lightskyblue;
}

.dates {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: lightskyblue;
}

.dateheader {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
}